
@font-face {
                          font-family: "Gibson-Medium";
                          src: url('../fonts/.43311.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Gibson-SemiBold";
                          src: url('../fonts/.24355.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Gibson-Book";
                          src: url('../fonts/.43309.otf') format("opentype");
                        }
                        
.gebraucht {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 4597px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.gebraucht .gebrauchtsmission {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1061px;
  height              : auto;
  width               : 798px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Book", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gebraucht .iworkedtodevelop {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2108px;
  height              : auto;
  width               : 798px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Book", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gebraucht .landingpages {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2090px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 319px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gebraucht .mission {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1024px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 319px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.gebraucht .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 115px;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : 317px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gebraucht .header .uiuxdesigner {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.73px;
  line-height         : 24.0px;
}
.gebraucht .header .uiuxdesigner .span1 {
  
}
.gebraucht .header .uiuxdesigner .span2 {
  letter-spacing      : 0.49px;
}
.gebraucht .header .gebrauchtde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 669px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-SemiBold", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(74, 74, 74, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.gebraucht .nav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 19px;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gebraucht .nav .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 286px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.gebraucht .nav .aboutme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.gebraucht .nav .mh {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-SemiBold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(174, 174, 199, 1.0);
  text-align          : left;
  letter-spacing      : 1.78px;
  line-height         : 18.0px;
}
.gebraucht .nav .work {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Gibson-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.gebraucht .dealshome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 321px;
  height              : 668px;
  width               : 1025px;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gebraucht .dealshome .rectangle {
  background-color    : rgba(116, 183, 255, 0.14);
  top                 : 0px;
  height              : 635px;
  width               : 1025px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gebraucht .dealshome .gebrauchtdealsd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 33px;
  height              : 635px;
  width               : 984px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gebraucht .dealslanding {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1372px;
  height              : 636px;
  width               : 1025px;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gebraucht .dealslanding .rectanglecopy {
  background-color    : rgba(235, 244, 255, 1.0);
  top                 : 1px;
  height              : 635px;
  width               : 1025px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.gebraucht .dealslanding .gebrauchtdealsdmt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : 469px;
  width               : 933px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}